<article id="service">
  <section class="left_col">
    <div class="dot_title"></div><h2>services</h2>
    <h4>Pharmacies indépendantes</h4>
    <ul>
      <li>- Conseils et suivi thérapeutique</li>
      <li>- Carte fidélité gratuite</li>
      <li>- Services de livraison à domicile gratuit</li>
      <li>- Location de tire-lait, pèse bébé, cannes anglaises</li>
      <li>- Suivi therapeutique / semainier / conseils spécialisés</li>
      <li>- Service de livraison gratuite</li>
      <li>- Carte fidélité gratuite</li>
    </ul>
    <h6>Un service de formulaire de commande pour :</h6>
    <ul>
      <li>- les clients travaillant dans le coin ou les clients réguliers</li>
      <li>- la livraison ou le passage pour chercher à la pharmacie</li>
    </ul>
    <p>Un système simple avec uniquement vos nom, prénom, adresse, téléphone et email.</p>
  </section>
  <section class="right_col">
    <h3>2 pharmacies</h3>
    <h3>2 lieux</h3>
    <h3>un service de qualité</h3>
    <img src="<%= image_path('ouchy.jpg') %>">
  </section>
</article>
<article id="form_service" class="form">
  <section>
    <h5 class="message_validate"></h5>
    <form method="post" action="/service">
      <div class="row">
        <fieldset>
          <div class="span4 column_1">
            <h5>Formulaire de commande</h5>
            <span>Nom, Prénom :</span>
            <input type="text" name="service[name]" required /><br />
            <span>Téléphone :</span>
            <input type="text" name="service[phone]" required /><br />
            <span>Adresse email :</span>
            <input type="email" name="service[email]" required />
          </div>
          <div class="span4 column_2">
            <span>Message</span>
            <textarea class="textarea" name="service[message]" required></textarea>
          </div>
          <div class="span4 column_3">
            <div class="span2 delivery">
              <p>Livraison</p><br />
              <label><input type="radio" name="service[deliver]" value="domicile" id="delivery_address">à domicile</label>
            </div>
            <div class="span2">
              <p>Passer chercher à la pharmacie</p><br />
              <label><input type="radio" name="service[deliver]" value="MetroOuchy" id="delivery_address">MetroOuchy</label><br /><br />
              <label><input type="radio" name="service[deliver]" value="MetroFlon" id="delivery_address">MetroFlon</label>
            </div>
            <input type="submit" value="Commander" class="submit_command">
          </div>
        </fieldset>
      </div>
    </form>
  </section>
</article>
<div class="doted"></div>
<article id="institute">
  <section class="header">
    <p>Uniquement à la pharmacie MetroOuchy <span class="square red"></span></p>
    <div class="dot_title"></div><h2>institut</h2>
    <h4>Cabine de soin</h4>
    <p class="legend">Un diagnostic de peau vous est offert par notre esthéticienne diplômée sur rendez-vous.</p>
  </section>
   <div class="line"><h6>Visage</h6></div>
   <section class="row care_2">
     <div class="span6">
      <h6>Valmont</h6>
      <ul>
        <li>Vitalité des Glaciers<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>Express 45' chf 150.-</p>
            <p>Complet 75' chf 260.- </p>
            <p>Valmont vous offre une véritable renaissance inspirée de la force inépuisable des neiges éternelles. Découvrez le soin Express : original pour un résultat rapide avant un rendez-vous ou un évènement, et le soin Complet qui redonnera à votre peau toute la vitalité et l’énergie nécessaires à sa beauté.</p>
          </div>
        </li>
      <h6>Cellcosmet</h6>
      <ul>
        <li>Swiss Anti-Stress<span class="more"><span class="more_link"></span><span class="time_price">1h chf 180.-</span></span></li>
        <li>Swiss Radiance<span class="more"><span class="more_link"></span><span class="time_price">1h chf 180.-</span></span></li>
        <li>Swiss CellFacial Revitalisant Anti âg<span class="more"><span class="more_link"></span><span class="time_price">1h20 chf 240.-</span></span></li>
      <h6>Comfort Zone</h6>
      <ul>
        <li>Vitalité des Glaciers<span class="more"><span class="more_link"></span><span class="time_price">30' chf 75.-</span></span>
          <div class="container">
            <p>Effet bonne mine immédiat ! La peau est rafraîchie, le teint illuminé.</p>
          </div>
        </li>
        <li>Soin Equilibrant <span class="more"><span class="more_link"></span><span class="time_price">45' chf 90.-</span></span>
          <div class="container">
            <p>Nous savons que chaque type de peau a ses exigences. C’est pour cela que nous vous proposons  un soin sur mesure adapté en fonction de vos besoins. Purifiant, hydratant ou apaisant, notre expertise est au service de vos besoins. Sans extraction des comédons.
            </p>
          </div>
        </li>
        <li>Soin Equilibrant <span class="more"><span class="more_link"></span><span class="time_price">1h chf 110.-</span></span>
          <div class="container">
            <p>avec extraction des comédons.</p>
          </div>
        </li>
        <li>Action Sublime Anti-âge<span class="more"><span class="more_link"></span><span class="time_price">1h chf 130.-</span></span></li>
     </div>
     <div class="span6">
      <h6>Hormeta</h6>
      <ul>
        <li>Trio Peel<span class="more"><span class="more_link"></span><span class="time_price">1h chf 145.-</span></span></li>
        <li>BTR<span class="more"><span class="more_link"></span><span class="time_price">1h15 chf 160.-</span></span>
          <div class="container">
            <p>Avec extraction des comédons</p>
          </div>
        </li>
        <li>ARL Stress Capture<span class="more"><span class="more_link"></span><span class="time_price">1h15 chf 160.-</span></span></li>
        <li>Haute définition Anti-âge<span class="more"><span class="more_link"></span><span class="time_price">1h15 chf 160.-</span></span></li>
        <h6>Erno Lazlo</h6>
        <li>Firmarine  Anti-âge et fermeté Luminous Eclat du teint<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>Express 30' chf 110.-</p>
            <p>Complet 1h chf 160.-</p>
            <p><span class="bold">Supplément</span></p>
            <p><span class="bold">Soin contour des yeux</span><span class="price">chf 15.-</span><br />
              Seul ou associé avec un soin du visage, le soin contour des yeux permet de retrouver éclat et jeunesse. Défatigant et hydratant, votre regard est sublimé.
            </p>
            <p><span class="bold">Massage</span><span class="price">15' chf 20.-</span><br />
              Ajoutez à votre soin un massage du décolleté, du cou et du visage  ou un massage du dos
            </p>
            <p><span class="bold">Prefection</span><span class="price">25' chf 15.-</span><br />
              L’extraction des comédons
            </p>
          </div>
        </li>
        <h6>Cellmen</h6>
        <li>Swiss Radiance (Anti-fatigue)<span class="more"><span class="more_link"></span><span class="time_price">1h chf 180.-</span></span></li>
        <li>Soin Purifiant<span class="more"><span class="more_link"></span><span class="time_price">1h chf 110.-</span></span></li>
        <li>Regimen<span class="more"><span class="more_link"></span><span class="time_price">30' chf 75.-</span></span></li>
     </div>
   </section>
   <div class="line row"><h6>Corps</h6></div>
   <section class="row care_2">
    <div class="span6">
      <h6>Valmont</h6>
      <ul>
        <li>Gommage Rénovateur<span class="more"><span class="more_link"></span><span class="time_price">45'chf 75.-</span></span></li>
        <li>Hydratation Intense<span class="more"><span class="more_link"></span><span class="time_price">30'chf 75.-</span></span></li>
        <li>“Peak“ de la minceur<span class="more"><span class="more_link"></span><span class="time_price">1h15 chf 160.-</span></span></li>
      </ul>
      <h6 class="margin-align">Cellcosmet</h6>
      <ul>
        <li>Gommage Lavande<span class="more"><span class="more_link"></span><span class="time_price">30'chf 75.-</span></span></li>
        <li>Massage cocooning Au Miel<span class="more"><span class="more_link"></span><span class="time_price">45'chf 90.-</span></span></li>
        <li>Soin Douceur Miel & Lavande<span class="more"><span class="more_link"></span><span class="time_price">1h15 chf 150.-</span></span>
          <div class="container">
            <p>Gommage Lavande + massage cocooning au Miel</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="span6">
      <h6>Comfort zone</h6>
      <ul>
        <li>Boue de Monticelli<span class="more"><span class="more_link"></span><span class="time_price">45'chf 90.-</span></span>
          <div class="container">
            <p>Enveloppement chauffant</p>
          </div>
        </li>
        <li>Aromasoul<span class="more"><span class="more_link"></span><span class="time_price">2h chf 240.-</span></span>
          <div class="container">
            <p>Gommage + enveloppement + massage</p>
          </div>
        </li>
        <li>Aromasoul Dos et nuque<span class="more"><span class="more_link"></span><span class="time_price">1h chf 120.-</span></span>
          <div class="container">
            <p>Massage suivi d’une boue auto-chauffante</p>
          </div>
        </li>
        <li>Body Strategist + minceur<span class="more"><span class="more_link"></span><span class="time_price">1h chf 120.-</span></span></li>
        <li>Vital Leg<span class="more"><span class="more_link"></span><span class="time_price">45' chf 90.-</span></span>
          <div class="container">
            <p>Rafraichissant et décongestionnant : le soin idéal pour soulager les jambes échauffées.</p>
          </div>
        </li>
        <li>Glorius Skin Buste<span class="more"><span class="more_link"></span><span class="time_price">30' chf 60.-</span></span></li>
        <li>Sacred Nature Bio<span class="more"><span class="more_link"></span><span class="time_price">1h15 chf 150.-</span></span>
          <div class="container">
            <p>Soin corps et Visage nourrissant et protecteur anti-âge</p>
          </div>
        </li>
      </ul>
    </div>
   </section>
   <div class="line row"><h6>Massage</h6></div>
   <section class="row care_2">
    <div class="span6">
      <h6>Comfort zone</h6>
      <ul>
        <li>Massage du Visage, du cou et du décollet<span class="more"><span class="more_link"></span><span class="time_price">15' chf 20.-</span></span></li>
        <li>Massage du Dos<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>15' chf 35.-</p>
            <p>30' chf 70.-</p>
          </div>
        </li>
        <li>Massage Corps relaxant<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>30' chf 70.-</p>
            <p>1h chf 120.-</p>
            <p>1h20 chf 150.-</p>
            <p>Lent, global et enveloppant</p>
          </div>
        </li>
        <li>Massage Corps Sportif<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>30' chf 80.-</p>
            <p>1h chf 135.-</p>
            <p>Profond, lent, localisé</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="span6">
      <h6 class="empty_title">empty</h6>
      <ul>
        <li>Massage Corps Tonique<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>30' chf 80.-</p>
            <p>1h chf 135.-</p>
            <p>Rythme soutenu et stimulant</p>
          </div>
        </li>
        <li>Massage Corps Future Maman<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>30' chf 70.-</p>
            <p>1h chf 120.-</p>
            <p>Parfait pour future maman enceinte de 3 à 8 mois</p>
          </div>
        </li>
        <li>« Autour de bébé »<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>30' chf 75.-</p>
            <p>45' chf 95.-</p>
            <p>Apprenez comment établir un moment de partage et de complicité entre vous (papa ou maman) et votre enfant. De 6 mois à 2 ans</p>
          </div>
        </li>
      </ul>
    </div>
   </section>
   <div class="line row"><h6>Epilations</h6></div>
   <section class="row care_2">
    <div class="span6">
      <h6>Comfort zone</h6>
      <ul>
        <li>Epilations<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>sourcils <span class="price">chf 20.-</span></p>
            <p>sourcils (création de ligne) <span class="price">chf 30.-</span></p>
            <p>lèvre supérieure <span class="price">chf 15.-</span></p>
            <p>menton <span class="price">chf 20.-</span></p>
            <p>lèvre sup + menton + sourcils <span class="price">chf 50.-</span></p>
            <p>visage <span class="price">chf 60.-</span></p>
            <p>aisselles <span class="price">chf 30.-</span></p>
            <p>maillot classique <span class="price">chf 30.-</span></p>
            <p>maillot échancré <span class="price">chf 40.-</span></p>
            <p>maillot brésilien <span class="price">chf 50.-</span></p>
            <p>maillot intégral <span class="price">chf 60.-</span></p>
            <p>demi-jambes <span class="price">chf 50.-</span></p>
            <p>cuisses <span class="price">chf 50.-</span></p>
            <p>¾ jambes <span class="price">chf 60.-</span></p>
            <p>bambes complètes <span class="price">chf 70.-</span></p>
            <p>bras<span class="price">chf 50.-</span></p>
            <p>½ Bras<span class="price">chf 40.-</span></p>
            <p>aisselles + Maillot classique + Demi-jambes <span class="price">chf 90.-</span></p>
          </div>
        </li>
      </ul>
    </div>
    <div class="span6">
      <h6>Cellmen</h6>
      <ul>
        <li>Epilations<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>aisselles <span class="price">chf 30.-</span></p>
            <p>sourcils<span class="price">chf 20.-</span></p>
            <p>torse <span class="price">chf 60.-</span></p>
            <p>dos <span class="price">chf 50.-</span></p>
            <p>ventre<span class="price">chf 25.-</span></p>
            <p>jambes complètes <span class="price">chf 90.-</span></p>
          </div>
        </li>
      </ul>
    </div>
   </section>
   <div class="line row"><h6>Teintures</h6></div>
   <section class="row care_2">
    <div class="span6">
      <h6>Comfort zone</h6>
      <ul>
        <li>Teintures<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>sourcils<span class="price">chf 25.-</span></p>
            <p>cils <span class="price">chf 30.-</span></p>
            <p>cils + sourcils<span class="price">chf 45.-</span></p>
            <p>epilation + teinture des sourcils<span class="price">chf 45.-</span></p>
          </div>
        </li>
      </ul>
    </div>
   </section>
   <div class="line row"><h6>Maquillages</h6></div>
   <section class="row care_2">
    <div class="span6">
      <h6>Comfort zone</h6>
      <ul>
        <li>Maquillages<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>maquillage Jour<span class="price">chf 50.-</span></p>
            <p>maquillage soir <span class="price">chf 65.-</span></p>
            <p>maquillage Mariée ( 1 essai )<span class="price">chf 95.-</span></p>
            <p>conseil d’auto-Maquillage<span class="price">1h chf 80.-</span></p>
          </div>
        </li>
      </ul>
    </div>
   </section>
   <div class="line row"><h6>Manucure</h6></div>
   <section class="row care_2">
    <div class="span6">
      <h6>UPI</h6>
      <ul>
        <li>Manucure & Pédicure<span class="more"><span class="more_link"></span><span class="time_price"></span></span>
          <div class="container">
            <p>manucure express<span class="price">30' chf 35.-</span></p>
            <p>manucure (avec bain)<span class="price">45' chf 50.-</span></p>
            <p>manucure Spa<span class="price">1h chf 60.-</span></p>
            <p>pédicure (avec bain)<span class="price">45' chf 60.-</span></p>
            <p>pédicure Spa<span class="price">1h chf 70.-</span></p>
            <p>pose de vernis<span class="price">20' chf 18.-</span></p>
            <p>pose de vernis French<span class="price">30' chf 35.-</span></p>
            <p>dépose Gel Color<span class="price">30' chf 20.-</span></p>
            <p>préparation de l’ongle<span class="price">15' chf 10.-</span></p>
            <p>Gel Color OPI<span class="price">chf 60.-</span></p>
            <p>Gel Color OPI (Vernis semi-permanent)<span class="price">chf 70.-</span></p>
          </div>
        </li>
      </ul>
    </div>
   </section>
  <div class="row">
    <img src="<%= image_path('manucure.jpg') %>" class="span4 round">
    <img src="<%= image_path('massage_1.jpg') %>" class="span4 round">
    <img src="<%= image_path('massage_2.jpg') %>" class="span4 round">
  </div>
</article>
<article id="form_institute" class="form">
  <section>
    <h5 class="message_validate"></h5>
    <form method="post" action="/appointment">
      <div class="row">
        <fieldset>
          <div class="span4 column_1">
            <h5>Prise de rendez-vous</h5>
            <span>Nom, Prénom :</span>
            <input type="text" name="appointment[name]" required /><br />
            <span>Téléphone :</span>
            <input type="text" name="appointment[phone]" required />
            <span>Adresse email :</span>
            <input type="email" name="appointment[email]" required />
          </div>
          <div class="span4 column_2">
            <span>Prestation</span>
            <textarea class="textarea" name="appointment[message]" required></textarea>
          </div>
          <div class="span4 column_3">
            <span>Date :</span>
            <input type="date" name="appointment[date]" required /><br /><br />
            <span>Heure :</span>
            <input type="text" name="appointment[time]" required />
            <input type="submit" value="Prendre un rendez-vous" class="submit_command">
          </div>
        </fieldset>
      </div>
    </form>
  </section>
</article>
<div class="doted"></div>
<article id="perfumery">
  <section class="header">
    <p>Uniquement à la pharmacie MetroOuchy <span class="square red"></span></p>
    <div class="dot_title"></div><h2>parfumerie</h2>
    <h4>Les nouveautés de la parfumerie</h4>
  </section>
  <section class="row product">
    <% Application::New.all.each do |news| %>
      <div class="span4">
        <div class="preview">
          <h6><%= news.category %></h6>
          <p class="name"><%= news.title %></p>
          <img src="<%= news.image.url if news.image.present? %>" />
          <p class="description"><%= news.description.lines.map(&:chomp).join('<br />') if news.description.present? %></p><br/>
        </div>
      </div>
    <% end %>
  </section>
  <section class="brand">
    <h4>Les marques exclusives</h4>
    <div class="row">
      <div class="span6 exclusive"><img src="<%= image_path('logo_erno_laszlo.png') %>"></div>
      <div class="span6 exclusive"><img src="<%= image_path('logo_givenchy.jpg') %>"></div>
    </div>
    <h4>Les marques disponibles</h4>
    <div class="row">
      <div class="span3 logo">
        <img src="<%= image_path('logo_clarins.png') %>">
        <img src="<%= image_path('logo_bulgari.png') %>">
        <img src="<%= image_path('logo_ahava.png') %>">
        <img src="<%= image_path('logo_louis_widmer.png') %>">
        <img src="<%= image_path('logo_juilette.png') %>">
        <img src="<%= image_path('logo_reminissence.png') %>">
      </div>
      <div class="span3 logo">
        <img src="<%= image_path('logo_dior.png') %>">
        <img src="<%= image_path('logo_cellcosmet.png') %>">
        <img src="<%= image_path('logo_garancia.png') %>">
        <img src="<%= image_path('logo_van_cleef.png') %>">
        <img src="<%= image_path('logo_hermes.png') %>">
        <img src="<%= image_path('logo_rabanne.png') %>">
        <img src="<%= image_path('logo_valmont.png') %>">
      </div>
      <div class="span3 logo">
        <img src="<%= image_path('logo_creed.jpg') %>">
        <img src="<%= image_path('logo_erborian.png') %>">
        <img src="<%= image_path('logo_guerlain.jpg') %>">
        <img src="<%= image_path('logo_ysl.png') %>">
        <img src="<%= image_path('logo_lanvin.png') %>">
        <img src="<%= image_path('logo_opi.jpg') %>">
        <img src="<%= image_path('logo_lutens.png') %>">
      </div>
      <div class="span3 logo">
        <img src="<%= image_path('logo_bond_ny.png') %>">
        <img src="<%= image_path('logo_etro.png') %>">
        <img src="<%= image_path('logo_lancome.png') %>">
        <img src="<%= image_path('logo_lierac.png') %>">
        <img src="<%= image_path('logo_la_prairie.png') %>">
        <img src="<%= image_path('logo_sisley.png') %>">
      </div>
    </div>
  </sections>
</article>
<article id="form_perfumery" class="form">
  <section>
    <h5 class="message_validate"></h5>
    <form method="post" action="/product">
      <div class="row">
        <fieldset>
          <div class="span4 column_1">
            <h5>Formulaire de commande</h5>
            <span>Nom, Prénom :</span>
            <input type="text" name="product[name]" required /><br />
            <span>Téléphone :</span>
            <input type="text" name="product[phone]" required /><br />
            <span>Adresse email :</span>
            <input type="email" name="product[email]" required />
          </div>
          <div class="span4 column_2">
            <span>Produits</span>
            <textarea class="textarea" name="product[product]" required></textarea>
          </div>
          <div class="span4 column_3">
            <div class="span2 delivery">
              <p>Livraison</p><br />
              <label><input type="radio" name="product[deliver]" value="domicile" id="delivery_address">à domicile</label>
            </div>
            <div class="span2">
              <p>Passer chercher à la pharmacie</p><br />
              <label><input type="radio" name="product[deliver]" value="MetroOuchy" id="delivery_address">MetroOuchy</label><br /><br />
              <label><input type="radio" name="product[deliver]" value="MetroFlon" id="delivery_address">MetroFlon</label>
            </div>
            <input type="submit" value="Commander" class="submit_command">
          </div>
        </fieldset>
      </div>
    </form>
  </section>
</article>
<div class="doted"></div>
<article id="events">
  <section class="header">
    <p>Uniquement à la pharmacie MetroOuchy <span class="square red"></span></p>
    <div class="dot_title"></div><h2>evenements</h2>
    <h4>Nos rendez-vous</h4>
  </section>
  <section class="agenda">
    <table class="table">
      <% if !Application::Event.exists? %>
        <tr>
          <td class="date">Pas d'événements à signaler actuellement</td>
        </tr>
      <% end %>
      <% Application::Event.order('position ASC').each do |event| %>
        <tr>
          <td class="date"><%= event.date.lines.map(&:chomp).join('<br />') if event.date.present? %></td>
          <td class="logo"><img src="<%= event.logo.url if event.logo %>"/></td>
          <td class="description"><%= event.description %></td>
        </tr>
      <% end %>
    </table>
  </section>
</article>
<div class="doted"></div>
<article class="row" id="contact">
  <section class="header">
    <div class="dot_title"></div><h2>Contact</h2>
  </section>
  <section class="flon span6">
    <h4>Pharmacie MetroFlon</h4>
    <span class="square green"></span><h6>Place de l'Europe 5 - 1003 lausanne</h6>
    <div class="span2">
      <p>lundi</p>
      <p>mardi</p>
      <p>mercredi</p>
      <p>jeudi</p>
      <p>vendredi</p>
      <p>samedi</p>
      <p>dimanche</p>
      <p>jours férié</p>
    </div>
    <div class="timetable span2">
      <p>07h00-21h00</p>
      <p>07h00-21h00</p>
      <p>07h00-21h00</p>
      <p>07h00-21h00</p>
      <p>07h00-22h00</p>
      <p>08h00-22h00</p>
      <p>10h00-21h00</p>
      <p>10h00-21h00</p>
    </div>
    <div class="span2 information">
      <p>tél : 021.318.73.10</p>
      <p>fax : 021.318.73.19</p>
      <a href="mailto:metro-flon@ovan.ch"><p class="email_green">metro-flon@ovan.ch</p></a>
    </div>
    <div class="maps">
      <iframe class="map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ch/maps?f=q&amp;iwloc=&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Place+de+l'Europe+5+-+1003+lausanne&amp;aq=&amp;sll=46.507077,6.626751&amp;sspn=0.011667,0.027337&amp;ie=UTF8&amp;hq=&amp;hnear=Place+de+l'Europe+5,+1003+Lausanne,+Vaud&amp;ll=46.520215,6.630305&amp;spn=0.011664,0.027337&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    </div>
  </section>
  <section class="ouchy span6">
    <h4>Pharmacie MetroOuchy</h4>
    <span class="square red"></span><h6>Place de la Navigation 6 - 1006 Lausanne - Ouchy</h6>
    <div class="span2">
      <p>lundi</p>
      <p>mardi</p>
      <p>mercredi</p>
      <p>jeudi</p>
      <p>vendredi</p>
      <p>samedi</p>
      <p>dimanche</p>
      <p>jours férié</p>
    </div>
    <div class="timetable span2">
      <p>07h45-21h00</p>
      <p>07h45-21h00</p>
      <p>07h45-21h00</p>
      <p>07h45-21h00</p>
      <p>07h45-21h00</p>
      <p>09h00-21h00</p>
      <p>10h00-21h00</p>
      <p>10h00-21h00</p>
    </div>
    <div class="span2 information">
      <p>tél : 021.612.03.03</p>
      <p>fax : 021.612.03.09</p>
      <a href="mailto:metro-ouchy@ovan.ch"><p class="email_red">metro-ouchy@ovan.ch</p></a>
    </div>
    <div class="maps">
      <iframe class="map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ch/maps?f=q&amp;iwloc=&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Place+de+la+Navigation+6+-+1006+Lausanne+-+Ouchy&amp;aq=&amp;sll=46.507609,6.625443&amp;sspn=0.011667,0.027337&amp;ie=UTF8&amp;hq=&amp;hnear=Place+de+la+Navigation+6,+1006+Lausanne,+Vaud&amp;ll=46.507609,6.625443&amp;spn=0.011667,0.027337&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    </div>
  </section>
</article>
