<section class="service">
  <article class="left_col">
    <div class="dot_title"></div><h2>services</h2>
    <h4>Pharmacies indépendantes</h4>
    <ul>
      <li>- Conseils et suivi thérapeutique</li>
      <li>- Carte fidélité gratuite</li>
      <li>- Services de livraison à domicile gratuit</li>
      <li>- Location de tire-lait, pèse bébé, cannes anglaises</li>
      <li>- Suivi therapeutique / semainier / conseils spécialisés</li>
      <li>- Service de livraison gratuite</li>
      <li>- Carte fidélité gratuite</li>
    </ul>
    <h6>Un service de formulaire de commande pour :</h6>
    <ul>
      <li>- les clients travaillant dans le coin ou les clients réguliers</li>
      <li>- la livraison ou le passage pour chercher à la pharmacie</li>
    </ul>
    <p>Un système simple avec uniquement vos nom, prénom, adresse, téléphone et email.</p>
  </article>
  <article class="right_col">
    <h3>2 pharmacies</h3>
    <h3>2 lieux</h3>
    <h3>un service de qualité</h3>
    <img src="<%= image_path('ouchy_2.jpg') %>">
  </article>
</section>
<section class="form_service">
  <article>
    <form method="post" action="/command">
      <div class="row">
        <fieldset>
          <div class="span4 column_1">
            <h5>Formulaire de commande</h5>
            <span>Nom, Prénom :</span>
            <input type="text" name="command[name]" required /><br />
            <span>Téléphone :</span>
            <input type="text" name="command[phone]" required />
          </div>
          <div class="span4 column_2">
            <span>Message</span>
            <textarea rows="12" cols="39" name="command[message]" required></textarea>
          </div>
          <div class="span4 column_3">
            <div class="span2">
              <p>Livraison</p><br />
              <label><input type="checkbox" name="command[deliver]" value="true" id="delivery_address">à domicile</label>
            </div>
            <div class="span2">
              <p>Passer chercher à la pharmacie</p><br />
              <label><input type="checkbox" name="command[deliver]" value="true" id="delivery_address">MetroOuchy</label><br /><br />
              <label><input type="checkbox" name="command[deliver]" value="true" id="delivery_address">MetroFlon</label>
            </div>
            <input type="submit" value="Commander" class="submit_command">
          </div>
        </fieldset>
      </div>
    </form>
  </article>
</section>
<hr class="doted" />
<section class="institute">
  <article class="header">
    <p>Uniquement à la pharmacie MetroOuchy <span class="square red"></span></p>
    <div class="dot_title"></div><h2>institut</h2>
    <h4>Cabine de soin</h4>
  </article>
   <div class="line"><h6>Les soins de base</h6></div>
   <article class="row care">
     <div class="face span4">
      <h6>Visage</h6>
      <ul>
        <li>soin <span class="more">+</span></li>
        <li>soin équilibrant <span class="more">+</span></li>
        <li>soin anti-âge <span class="more">+</span></li>
        <li>soin eye suprême <span class="more">+</span></li>
      </ul>
     </div>
     <div class="body span4">
      <h6>Corps</h6>
      <ul>
        <li>body strategist <span class="more">+</span></li>
        <li>boue de monticelli <span class="more">+</span></li>
        <li>vital leg <span class="more">+</span></li>
        <li>glorius skin buste <span class="more">+</span></li>
        <li>d-âge <span class="more">+</span></li>
      </ul>
     </div>
     <div class="ritual span4">
      <h6>Rituel</h6>
        <ul>
        <li>massage corps <span class="more">+</span></li>
        <li>visage et corps <span class="more">+</span></li>
        <li>aromasoul gommage <span class="more">+</span></li>
        <li>aromasoul dos et nuque <span class="more">+</span></li>
        <h6>Soin visage homme</h6>
        <li>man space <span class="more">+</span></li>
      </ul>
     </div>
   </article>
   <div class="line row"><h6 class="span5">Epilations et maquillages</h6><h6 class="title_left span5">Manucures et pedicures</h6></div>
   <article class="row care_2">
    <div class="makeup span6">
      <ul>
        <li>Epilations <span class="more">+</span></li>
        <li>Maquillage <span class="more">+</span></li>
      </ul>
    </div>
    <div class="cure span6">
      <ul>
        <li>Manucure <span class="more">+</span></li>
        <li>Pedicure <span class="more">+</span></li>
      </ul>
    </div>
    <div class="row">
      <img src="<%= image_path('manucure.jpg') %>" class="span4 round">
      <img src="<%= image_path('massage_1.jpg') %>" class="span4 round">
      <img src="<%= image_path('massage_2.jpg') %>" class="span4 round">
    </div>
   </article>
</section>
<section class="form_institute">
  <article>
    <form method="post" action="/appointment">
      <div class="row">
        <fieldset>
          <div class="span4 column_1">
            <h5>Prise de rendez-vous</h5>
            <span>Nom, Prénom :</span>
            <input type="text" name="appointment[name]" required /><br />
            <span>Téléphone :</span>
            <input type="text" name="appointment[phone]" required />
            <span>Email :</span>
            <input type="email" name="appointment[email]" required />
          </div>
          <div class="span4 column_2">
            <span>Prestation</span>
            <textarea rows="12" cols="39" name="appointment[message]" required></textarea>
          </div>
          <div class="span4 column_3">
            <span>Date :</span>
            <input type="date" name="appointment[date]" required /><br /><br />
            <span>Heure :</span>
            <input type="email" name="appointment[time]" required />
            <input type="submit" value="Prendre un rendez-vous" class="submit_command">
          </div>
        </fieldset>
      </div>
    </form>
  </article>
</section>
<hr class="doted" />
<section class="perfumery">
  <article class="header">
    <p>Uniquement à la pharmacie MetroOuchy <span class="square red"></span></p>
    <div class="dot_title"></div><h2>parfumerie</h2>
    <h4>La nouveté de la parfumerie</h4>
  </article>
  <article class="row product">
    <div class="span4">
      <h6>Les soins</h6>
      <p class="name">Valmont BODYCONTROL 100ml / 250ml</p>
      <img src="<%= image_path('product.png') %>">
      <p class="desciption">Venez découvrir la nouvelle gamme anti-cellulite de Valmont. Un soin cabine offert à l'achat de deux produits Valmont.</p>
    </div>
    <div class="span4">
      <h6>Les parfums</h6>
      <p class="name">Valmont BODYCONTROL 100ml / 250ml</p>
      <img src="<%= image_path('product.png') %>">
      <p class="desciption">Venez découvrir la nouvelle gamme anti-cellulite de Valmont. Un soin cabine offert à l'achat de deux produits Valmont.</p>
    </div>
    <div class="span4">
      <h6>Les maquillages</h6>
      <p class="name">Valmont BODYCONTROL 100ml / 250ml</p>
      <img src="<%= image_path('product.png') %>">
      <p class="desciption">Venez découvrir la nouvelle gamme anti-cellulite de Valmont. Un soin cabine offert à lachat de deux produits Valmont.</p>
    </div>
  </article>
  <article class="brand">
    <h4>Les marques exclusives</h4>
    <p>Hymenaeos, molestie, malesuada Praesent! Amet Duis, hac Etiam Phasellus adipiscing per blandit facilisi condimentum et. Vestibulum. Integer ridiculus. Facilisi dictum euismod ullamcorper felis. Condimentum, eu risus vehicula ornare aptent ultrices.</p>
    <div class="row">
      <div class="span6 exclusive"><img src="<%= image_path('erno_laszlo.png') %>"></div>
      <div class="span6 exclusive"><img src="<%= image_path('givenchy.png') %>"></div>
    </div>
    <h4>Les marques disponibles</h4>
    <p>Hymenaeos, molestie, malesuada Praesent! Amet Duis, hac Etiam Phasellus adipiscing per blandit facilisi condimentum et. Vestibulum. Integer ridiculus. Facilisi dictum euismod ullamcorper felis. Condimentum, eu risus vehicula ornare aptent ultrices.</p>
    <div class="row">
      <div class="span3 logo">
        <img src="<%= image_path('clarins.png') %>">
        <img src="<%= image_path('bulgari.png') %>">
        <img src="<%= image_path('ahava.png') %>">
        <img src="<%= image_path('juilette.png') %>">
        <img src="<%= image_path('louis_widmer.png') %>">
        <img src="<%= image_path('reminissence.png') %>">
        <img src="<%= image_path('van_cleef.png') %>">
      </div>
      <div class="span3 logo">
        <img src="<%= image_path('dior.png') %>">
        <img src="<%= image_path('cellcosmet.png') %>">
        <img src="<%= image_path('garancia.png') %>">
        <img src="<%= image_path('lancome.png') %>">
        <img src="<%= image_path('lutens.png') %>">
        <img src="<%= image_path('la_prairie.png') %>">
        <img src="<%= image_path('ysl.png') %>">
      </div>
      <div class="span3 logo">
        <img src="<%= image_path('creed.jpg') %>">
        <img src="<%= image_path('erborian.png') %>">
        <img src="<%= image_path('guerlain.jpg') %>">
        <img src="<%= image_path('lanvin.png') %>">
        <img src="<%= image_path('opi.jpg') %>">
        <img src="<%= image_path('sisley.png') %>">
      </div>
      <div class="span3 logo">
        <img src="<%= image_path('bond_ny.png') %>">
        <img src="<%= image_path('etro.png') %>">
        <img src="<%= image_path('hermes.png') %>">
        <img src="<%= image_path('lierac.png') %>">
        <img src="<%= image_path('rabanne.png') %>">
        <img src="<%= image_path('valmont.png') %>">
      </div>
    </div>
  </article>
</section>
<section class="form_perfumery">
  <article>
    <form method="post" action="/command_product">
      <div class="row">
        <fieldset>
          <div class="span4 column_1">
            <h5>Formulaire de commande</h5>
            <span>Nom, Prénom :</span>
            <input type="text" name="command_product[name]" required /><br />
            <span>Téléphone :</span>
            <input type="text" name="command_product[phone]" required />
            <span>Email :</span>
            <input type="email" name="command_product[email]" required />
          </div>
          <div class="span4 column_2">
            <span>Produits</span>
            <textarea rows="12" cols="39" name="command_product[product]" required></textarea>
          </div>
          <div class="span4 column_3">
            <div class="span2">
              <p>Livraison</p><br />
              <label><input type="checkbox" name="command_product[deliver]" value="true" id="delivery_address">à domicile</label>
            </div>
            <div class="span2">
              <p>Passer chercher à la pharmacie</p><br />
              <label><input type="checkbox" name="command_product[deliver]" value="true" id="delivery_address">MetroOuchy</label><br /><br />
              <label><input type="checkbox" name="command_product[deliver]" value="true" id="delivery_address">MetroFlon</label>
            </div>
            <input type="submit" value="Commander" class="submit_command">
          </div>
        </fieldset>
      </div>
    </form>
  </article>
</section>
<hr class="doted" />
<section class="events">
  <article class="header">
    <p>Uniquement à la pharmacie MetroOuchy <span class="square red"></span></p>
    <div class="dot_title"></div><h2>evenements</h2>
    <h4>Nos rendez-vous</h4>
  </article>
  <article class="agenda">
    <table class="table">
      <tr>
        <td class="date">
          <p>19 février</p>
          <p>20 février</p>
          <p>21 février</p>
        </td>
        <td class="logo">
          <img src="<%= image_path('cellcosmet.png')%>">
        </td>
        <td class="description">
          <p>50% sur tous les soins en cabine</p>
        </td>
      </tr>
      <tr>
        <td class="date">
          <p>19 février</p>
          <p>20 février</p>
          <p>21 février</p>
        </td>
        <td class="logo">
          <img src="<%= image_path('cellcosmet.png')%>">
        </td>
        <td class="description">
          <p>50% sur tous les soins en cabine</p>
        </td>
      </tr>
      <tr>
        <td class="date">
          <p>19 septembre</p>
          <p>20 février</p>
          <p>21 février</p>
        </td>
        <td class="logo">
          <img src="<%= image_path('cellcosmet.png')%>">
        </td>
        <td class="description">
          <p>50% sur tous les soins en cabine 50% sur tous les soins en cabine 50% sur tous les soins en cabine 50% sur tous les soins en cabine 50% sur tous les soins en cabine</p>
        </td>
      </tr>
    </table>
  </article>
</section>
<hr class="doted" />
<section class="contact row">
  <article class="header">
    <div class="dot_title"></div><h2>Contact</h2>
  </article>
  <article class="flon span6">
    <h4>Pharmacie MetroFlon</h4>
    <span class="square green"></span><h6>Place de l'Europe 5 - 1003 lausanne</h6>
    <div class="span1">
      <p>lundi</p>
      <p>mardi</p>
      <p>mercredi</p>
      <p>jeudi</p>
      <p>vendredi</p>
      <p>samedi</p>
      <p>dimanche</p>
      <p>jours férié</p>
    </div>
    <div class="span2">
      <p>7h-21h Non Stop</p>
      <p>7h-21h Non Stop</p>
      <p>7h-21h Non Stop</p>
      <p>7h-21h Non Stop</p>
      <p>7h-21h Non Stop</p>
      <p>8h-21h Non Stop</p>
      <p>10h-21h Non Stop</p>
      <p>10h-21h Non Stop</p>
    </div>
    <div class="span3">
      <p>tél : 021.318.73.10</p>
      <p>fax : 021.318.73.19</p>
      <p>mail : metro-flon@ovan.ch</p>
    </div>
    <div class="maps">
      <iframe class="map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ch/maps?f=q&amp;iwloc=&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Place+de+l'Europe+5+-+1003+lausanne&amp;aq=&amp;sll=46.507077,6.626751&amp;sspn=0.011667,0.027337&amp;ie=UTF8&amp;hq=&amp;hnear=Place+de+l'Europe+5,+1003+Lausanne,+Vaud&amp;ll=46.520215,6.630305&amp;spn=0.011664,0.027337&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    </div>
  </article>
  <article class="ouchy span6">
    <h4>Pharmacie MetroOuchy</h4>
    <span class="square red"></span><h6>Place de la Navigation 6 - 1006 Lausanne - Ouchy</h6>
    <div class="span1">
      <p>lundi</p>
      <p>mardi</p>
      <p>mercredi</p>
      <p>jeudi</p>
      <p>vendredi</p>
      <p>samedi</p>
      <p>dimanche</p>
      <p>jours férié</p>
    </div>
    <div class="span2">
      <p>7h45-21h Non Stop</p>
      <p>7h45-21h Non Stop</p>
      <p>7h45-21h Non Stop</p>
      <p>7h45-21h Non Stop</p>
      <p>7h45-21h Non Stop</p>
      <p>7h45-21h Non Stop</p>
      <p>9h-20h Non Stop</p>
      <p>11h-20h Non Stop</p>
    </div>
    <div class="span3">
      <p>tél : 021.612.03.03</p>
      <p>fax : 021.612.03.09</p>
      <p>mail : metro-ouchy@ovan.ch</p>
    </div>
    <div class="maps">
      <iframe class="map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ch/maps?f=q&amp;iwloc=&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Place+de+la+Navigation+6+-+1006+Lausanne+-+Ouchy&amp;aq=&amp;sll=46.507609,6.625443&amp;sspn=0.011667,0.027337&amp;ie=UTF8&amp;hq=&amp;hnear=Place+de+la+Navigation+6,+1006+Lausanne,+Vaud&amp;ll=46.507609,6.625443&amp;spn=0.011667,0.027337&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    </div>
  </article>
</section>





