@import "compass/reset";
@import "compass/css3";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700,300italic);

@import "bootstrap";

/*----------------------------------------*/
/*                 COLORS                 */
/*----------------------------------------*/

$white: #FFF;
$black: #000;
$light_grey: #E6E6E6;
$grey: #8E9AA4;
$dark_grey: #4C4C4E;
$green: #A4C828;
$light_green: #B4D334;
$lighter_green: lighten($light_green, 60%);
$red: #6F0421;
$light_red: lighten($red, 60%);

/*----------------------------------------*/
/*                DEFAULT                 */
/*----------------------------------------*/

.main {
  width: 960px;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;

  a {
    color: $red;
  }

  .doted {
    background-image: url('dot.png');
    background-repeat: repeat-x;
    width: 100%;
    height: 20px;
    margin: 20px 0px;
  }

  .square {
    width: 20px;
    height: 20px;
    float: left;
  }

  .green {
    background-color: $green;
    margin-left: 5px;
  }

  .red {
    background-color: $red;
  }

  .email_red {
    font-size: 0.9em;
    color: $red;
    text-decoration: underline;
  }

  .email_green {
    font-size: 0.9em;
    color: $green;
    text-decoration: underline;
  }

  .dot_title {
    width: 30px;
    height: 30px;
    background-color: $dark_grey;
    @include border-radius(20px, 20px);
    float: left;
  }

  .round {
    width: 300px;
    height: 300px;
    margin: 30px 0px 0px 25px;
    @include border-radius(150px, 150px);
  }

  p {
    font-size: 1.2em;
  }

  h2 {
    font-size: 2em;
    color: $dark_grey;
    text-transform: uppercase;
    margin: 0px 0px 20px 40px;
  }

  h3 {
    font-size: 1.8em;
    color: $grey;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 1.6em;
    color: $grey;
    margin-bottom: 20px;
    font-weight: bold;
  }

  h5 {
    font-size: 1.6em;
    color: $white;
    margin-bottom: 20px;
  }

  h6 {
    font-size: 1.2em;
    color: $grey;
    font-weight: bold;
    margin: 10px 0px;
  }

  .delivery {
    margin-top: 20px;
  }

  .message_validate {
    display: none;
  }

  .textarea {
    width: 280px;
    min-width: 280px;
    max-height: 280px;

    height: 155px;
    min-height: 155px;
    max-height: 155px;
  }

  .line {
    background-color: $light_grey;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin-left: 0px;

    h6 {
      padding: 0px 20px;
    }
  }
}

/*----------------------------------------*/
/*                OVERLAY                 */
/*----------------------------------------*/

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.background {
      background: $grey;
      @include opacity(0.2);
    }

    &.loader {
      background: inline-image('loader.gif') center no-repeat;
    }
  }

}

body > .overlay {
  position: fixed;
}

/*----------------------------------------*/
/*                ADMIN                   */
/*----------------------------------------*/

section.admin {
  h2 {
    margin: 25px 0px 0px 0px;
  }

  a.publish {
    position: relative;
    top: 60px;
    left: 790px;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    height: 20px;
    padding: 10px 10px;
    color: $white;
    font-size: 1.8em;
  }

  .navbar-inner {
    .container {
      width: 960px;
      margin: 0 auto;

      p.title {
        font-size: 1.2em;
        color: $white;
        float: left;
      }

      a {
        float: right;
        color: $white;
        text-decoration: underline;
        margin: 10px 0px 0px 10px;
      }
    }
  }

  p {
    font-size: 1em;
    margin: 10px 0px;
  }

  section.perfumery {
    margin-top: 80px;
    height: 850px;
    padding-bottom: 30px;

    .preview {
      height: 400px;

      img {
        width: 250px;
      }
    }

    .info_img {
      font-size: 0.8em;
      font-style: italic;
      margin-bottom: 20px;
    }

    .form {
      height: 300px;

      input {
        width: 300px;
        height: 30px;
      }

      .description {
        width: 300px;
        min-width: 300px;
        max-height: 300px;
        height: 130px;
        min-height: 130px;
        max-height: 130px;
        margin-bottom: 20px;
      }

      .submit {
        width: 100px;
        height: 30px;
      }
    }
  }

  section#events {
    height: 500px;

    .new_event {
      margin: 20px 0px;
    }

    .agenda {
      margin-bottom: 30px;

      .edit_cell {
        width: 60px;

        .edit {
          float: right;
          width: 80px;
        }
      }

      .delete_cell {
        width: 80px;

        .delete{
          float: right;
          width: 80px;
        }
      }

      .info {
        font-size: 0.8em;
        font-style: italic;
      }

      .info_logo {
        font-size: 0.8em;
        font-style: italic;
        margin-left: 100px;
      }

      .update_button {
        margin-left: 7px;
      }

      .desciption_input {
        width: 300px;
        height: 30px;
      }

      textarea {
        width: 300px;
        min-width: 300px;
        max-height: 300px;
        height: 80px;
        min-height: 80px;
        max-height: 80px;
      }

      .date {
        width: 120px;
      }

      .logo {
        width: 210px;

        img {
          width: 200px;
          height: 80px;
        }
      }

      .description > p {
        margin-top: 20px;
      }
    }
  }
}

/*----------------------------------------*/
/*            VALIDATION FORM             */
/*----------------------------------------*/

.ui-state-error {
  border: 2px solid $red;
  padding: 1px;
  background-color: $light_red;

  &:focus {
    background-color: $white;
    border: 1px solid $grey;
  }

  + span {
    color: $red;
  }
}

.ui-state-valid {
  border: 2px solid green;
  padding: 1px;
  background-color: $lighter_green;

  + span {
    color: $green;
  }
}

/*----------------------------------------*/
/*                 HEADER                 */
/*----------------------------------------*/

header.main {
  margin-top: 25px;
  @include pie-clearfix;
  position: relative;
  border-bottom: solid 1px $grey;

  .line {
    border-bottom: 1px solid $grey;
  }

  h1.flon_logo {
    float: left;
    margin-bottom: 10px;
    @include replace-text-with-dimensions('flon_logo.jpg', 50%, 50%, true);
  }

  .schedule {
    width: 560px;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    display: none;

    p {
      font-size: 0.9em;
    }

    .phone {
      margin-top: 5px;
      font-size: 1em;
      color: $grey;
      font-weight: bold;
    }

    .flon {
      width: 187px;
      float: left;
      margin-left: 20px;
    }

    .date {
      width: 130px;
      margin: 0 auto;

      p {
        text-align: center;
      }

    .day {
        text-transform: uppercase;
      }
    }

    .ouchy {
      width: 187px;
      position: absolute;
      bottom: -8px;
      right: 40px;

      p {
        text-align: right;
      }
    }
  }

  h1.ouchy_logo {
    position: absolute;
    bottom: 10px;
    right: 0px;
    @include replace-text-with-dimensions('ouchy_logo.jpg', 50%, 50%, true);
  }
}

/******************* NAV *******************/

nav {
  height: 80px;
  @include pie-clearfix;
  position: relative;

  .bar {
    width: 800px;
    height: 10px;
    background-color: $grey;
    margin: 50px auto;
  }

  .circle {
    width: 20px;
    height: 20px;
    background-color: $dark_grey;
    @include border-radius(10px, 10px);
  }

  #scroll_menu {
    height: 70px;
    margin-top: -50px;

    .legend {
      width: 100px;
      height: 70px;
      position: absolute;

      p {
        margin-bottom: 10px;
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
        color: $grey;
      }
    }
  }

  a {
    text-decoration: none;
  }

  .circle_home {
    position: absolute;
    left: 70px;
    top: -5px;
  }

  .home {
    left: 70px;
    top: 30px;
  }

  .circle_service {
    position: absolute;
    left: 230px;
    top: -5px;
  }

  .service {
    left: 230px;
    top: 30px;
  }

  .circle_institut {
    position: absolute;
    left: 390px;
    top: -5px;
  }

  .institut {
    left: 390px;
    top: 30px;
  }

  .circle_parfumerie {
    position: absolute;
    left: 550px;
    top: -5px;
  }

  .parfumerie {
    left: 550px;
    top: 30px;
  }

  .circle_events {
    position: absolute;
    left: 710px;
    top: -5px;
  }

  .events {
    left: 710px;
    top: 30px;
  }

  .circle_contact {
    position: absolute;
    left: 870px;
    top: -5px;
  }

  .contact {
    left: 870px;
    top: 30px;
  }
}

.navfixed {
  width: 960px;
  margin-top: 0px!important;
  padding-bottom: 10px;
  position: fixed;
  top: 0px;
  background-color: $white;
  z-index: 1000;

  .legend {
    margin-top: -20px;
  }

  .border_bottom {
    width: 960px;
    height: 3px;
    background-color: $red;
    position: absolute;
    bottom: 10px;
  }
}

/***************** SLIDERS *****************/

#sliders {
  width: 960px;
  height: 500px;
  margin-top: 50px;
  position: relative;

  .name {
    width: 250px;
    height: 40px;
    background-color: $white;
    @include border-radius(20px, 20px);
  }

  .content_name {
    height: 20px;
    width: 170px;
    margin: 10px auto;

    span {
      margin-left: 13px;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      color: $grey;
    }

    .last {
      float: right;
    }
  }

  .slider_balls {
    position: absolute;
    float: right;
    bottom: 30px;
    right: 20px;
    z-index: 500;

    ul {
      @include horizontal-list(5px);

      a {
        display: block;
        width: 20px;
        height: 20px;
        background-color: $grey;
        @include border-radius(10px, 10px);
        z-index: 1000;
      }

      .ball.active a, a:hover {
        background-color: $red;
      }
    }
  }

  .slider {
    height: 500px;
    position: relative;
    overflow: hidden;

    img {
      height: 500px;
      width: 960px;
      top: 0px;
      left: 0px;
      position: absolute;
      display: none;

      &:first-child {
        display: block;
      }
    }
  }
}


/*----------------------------------------*/
/*                 SERVICE                */
/*----------------------------------------*/

article#service {
  padding: 20px 0px 0px 20px;
  height: 450px;
  overflow: hidden;
  position: relative;
  @include pie-clearfix;

  section.left_col {
    width: 50%;
    float: left;
    overflow: hidden;

    ul > li {
      font-size: 1.2em;
    }

    p {
      margin: 20px 0px;
    }
  }

  section.right_col {
    width: 50%;
    float: right;
    overflow: hidden;

    h3 {
      margin-left: 20px;
    }

    img {
      margin-left: 20px;
      position: absolute;
      bottom: 0px;
    }
  }
}

/*************** FORM COMMAND ***************/

article#form_service {
  height: 270px;
  width: 960px;
  margin-top: 30px;
  background-color: $light_green;

  section {
    padding: 20px 0px 20px 20px;

    form {
      span {
        font-size: 1.2em;
        float: left;
        color: $white;
        margin-bottom: 10px;
      }

      p {
        color: $white;
      }

      input {
        height: 20px;
        width: 150px;
        margin-bottom: 5px;
        float: right;
      }

      .column_1 {
        h5 {
          margin-bottom: 30px;
        }
      }

      .column_2 {
        margin-top: 25px;
      }

      .column_3 {
        padding-top: 25px;

        .span2 {
          margin-left: 0px;

          input {
            width: 20px;
            float: left;
          }

          label {
            color: $white;
            margin-bottom: 10px;
          }
        }

        .submit_command {
          width: 280px;
          height: 50px;
          background-color: $white;
          margin: 30px 30px 0px 0px;
          font-size: 1.6em;
          color: $light_green;
          border: 1px solid $white;
          border-bottom: 3px solid $white;
          border-right: 3px solid $white;
          @include border-radius(10px, 10px);
          @include box-shadow($black 1px 1px 5px 0);
        }
      }
    }
  }
}

/*----------------------------------------*/
/*               INSTITUTE                */
/*----------------------------------------*/

article#institute {
  section.header {
    padding: 20px 0px 20px 20px;

    p {
      width: 360px;
      float: right;

      .square {
        float: right;
      }
    }
  }

  .title_left {
    margin-left: 60px;
  }

  ul {
    li {
      overflow: hidden;
      border: 2px solid $red;
      padding: 5px 5px;
      margin-top: 10px;
      font-weight: bold;
      cursor: pointer;

      .time_price {
        font-weight: normal;
        float: left;
        margin-right: 10px;
        color: $black;
      }

      .more {
        height: 10px;
        font-size: 1em;
        font-weight: bold;
        color: $red;
        float: right;

        a.more_link {
          text-decoration: none;
        }
      }

      .container {
        width: 270px;
        padding: 10px 10px;
        display: none;

        .list{
          li {
            height: 100%;
            padding: 0px;
            border: none;
            overflow: none;
            font-weight: normal;
          }
        }

        p {
          font-size: 1em;
          font-weight: normal;
          margin-bottom: 10px;
        }

        .bold {
          font-weight: bold;
        }
      }
    }
  }

  section.care {
    padding: 20px 0px 20px 20px;

    p.legend {
      padding-left: 20px;
      font-style: italic;
      color: $black;
    }
  }

  section.care_2 {
    padding: 20px 0px 20px 20px;

    .container {
      width: 440px;
    }

    .cure > p {
      margin-top: 10px;
      font-style: italic;
      font-size: 1em;
    }

    .price {
      float: right;
      margin-right: 10px;
      font-weight: bold;
    }
  }

  .none {
    cursor: auto;

    .more {
      margin-right: 10px;
    }
  }
}

/*************** FORM COMMAND ***************/

article#form_institute {
  height: 270px;
  width: 960px;
  margin-top: 40px;
  background-color: $red;

  section {
    padding: 20px 0px 20px 20px;

    form {
      span {
        font-size: 1.2em;
        float: left;
        color: $white;
        margin-bottom: 10px;
      }

      p {
        color: $white;
      }

      input {
        height: 20px;
        width: 150px;
        margin-bottom: 5px;
        float: right;
      }

      .column_1 {
        h5 {
          margin-bottom: 30px;
        }
      }

      .column_2 {
        margin-top: 25px;
      }

      .column_3 {
        padding-top: 55px;

          input, span {
            margin-right: 30px;
          }
        }

      .submit_command {
        width: 280px;
        height: 50px;
        background-color: $white;
        margin: 50px 30px 0px 0px;
        font-size: 1.4em;
        color: $red;
        border: 1px solid $white;
        border-bottom: 3px solid $white;
        border-right: 3px solid $white;
        @include border-radius(10px, 10px);
        @include box-shadow($black 1px 1px 5px 0);
      }
    }
  }
}

/*----------------------------------------*/
/*               PARFUMERIE               */
/*----------------------------------------*/

article#perfumery {
  height: 1700px;
  padding: 20px 0px 20px 20px;

  section.header {
    p {
      width: 360px;
      float: right;

      .square {
        float: right;
      }
    }
  }

  section.product {
    .name {
      font-weight: bold;
    }

    img {
      width: 250px;
    }
  }

  section.brand {
    h4 {
      margin-top: 30px;
    }

    .exclusive > img {
      width: 150px;
      margin: 30px 0px 0px 150px;
    }

    .logo > img {
      width: 150px;
      margin: 20px 0px 50px 20px;
    }
  }
}

/************ FORM COMMAND PRODUCT ************/

article#form_perfumery {
  height: 270px;
  width: 960px;
  margin-top: 30px;
  background-color: $red;

  section {
    padding: 20px 0px 20px 20px;

    form {
      span {
        font-size: 1.2em;
        float: left;
        color: $white;
        margin-bottom: 10px;
      }

      p {
        color: $white;
      }

      input {
        height: 20px;
        width: 150px;
        margin-bottom: 5px;
        float: right;
      }

      .column_1 {
        h5 {
          margin-bottom: 30px;
        }
      }

      .column_2 {
        margin-top: 25px;
      }

      .column_3 {
        padding-top: 25px;

        .span2 {
          margin-left: 0px;

          input {
            width: 20px;
            float: left;
          }

          label {
            color: $white;
            margin-bottom: 10px;
          }
        }

        .submit_command {
          width: 280px;
          height: 50px;
          background-color: $white;
          margin: 30px 30px 0px 0px;
          font-size: 1.6em;
          color: $red;
          border: 1px solid $white;
          border-bottom: 3px solid $white;
          border-right: 3px solid $white;
          @include border-radius(10px, 10px);
          @include box-shadow($black 1px 1px 5px 0);
        }
      }
    }
  }
}

/*----------------------------------------*/
/*                 EVENTS                 */
/*----------------------------------------*/

article#events {
  height: 400px;
  width: 940px;
  padding: 20px 0px 20px 20px;

  section.header {
    p {
      width: 360px;
      float: right;

      .square {
        float: right;
      }
    }
  }

  section.agenda {
    .table {
      .date {
        width: 120px;
      }

      .logo {
        width: 210px;

        img {
          width: 200px;
        }
      }

      .description > p {
        margin-top: 20px;
      }
    }
  }
}

/*----------------------------------------*/
/*                CONTACT                 */
/*----------------------------------------*/

article#contact {
  height: 560px;
  padding: 20px 0px 20px 20px;

  .square {
    margin: 0px 10px 0px 0px;
  }

  h6 {
    color: $black;
    font-weight: normal;
  }

  p {
    font-size: 0.9em;
  }

  section.header {
    padding-left: 20px;
  }

  .information > p {
    text-transform: right;
  }

  section.flon {
    div {
      margin: 0px 10px 0px 0px;
    }
  }

  section.ouchy {
    div {
      margin: 0px 10px 0px 0px;
    }
  }


  .maps {
    .map {
      height: 300px;
      width: 100%;
      overflow: hidden;
      margin: 30px 0px;
    }
  }
}

/*----------------------------------------*/
/*                 FOOTER                 */
/*----------------------------------------*/

footer.main {
  p {
    font-size: 1em;
    width: 540px;
    margin: 20px auto;
  }
}
