<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Metro Ouchy-Flon pharmacie</title>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen">
    <script src="<%= javascript_path 'application' %>"></script>
  </head>
  <body>
    <article class="main">
      <header class="main">
        <a href="#contact"><h1 class="flon_logo" id="home">Métro Flon pharmacie</h1></a>
        <div class="schedule">
          <div class="flon">
            <p>7h - 21h non stop</p>
            <p class="phone">021 318 73 10</p>
          </div>
          <div class="date">
            <p class="day">mercredi</p>
            <p>22 septembre 2013</p>
          </div>
          <div class="ouchy">
            <p>7h - 21h non stop</p>
            <p class="phone">021 312 03 03</p>
          </div>
        </div>
        <a href="#contact"><h1 class="ouchy_logo">Métro Ouchy pharmacie</h1></a>
      </header>
      <nav>
        <div class="bar"></div>
        <div class="circle circle_home"></div>
        <div class="circle circle_service"></div>
        <div class="circle circle_institut"></div>
        <div class="circle circle_parfumerie"></div>
        <div class="circle circle_events"></div>
        <div class="circle circle_contact"></div>
        <div id="scroll_menu">
          <div class="legend home">
            <a href="#home"><p>acceuil</p></a>
            <div class="square red"></div>
            <div class="square green"></div>
          </div>
          <div class="legend service">
            <a href="#service"><p>service</p></a>
            <div class="square red"></div>
            <div class="square green"></div>
          </div>
          <div class="legend institut">
            <a href="#institute"><p>institut</p></a>
            <div class="square red"></div>
          </div>
          <div class="legend parfumerie">
            <a href="#perfumery"><p>parfumerie</p></a>
            <div class="square red"></div>
          </div>
          <div class="legend events">
            <a href="#events"><p>évenements</p></a>
            <div class="square red"></div>
          </div>
          <div class="legend contact">
            <a href="#contact"><p>contact</p></a>
            <div class="square red"></div>
            <div class="square green"></div>
          </div>
          <div class="border_bottom"></div>
        </div>
      </nav>
      <article id="sliders">
        <div class="slider_balls">
          <ul>
            <% slider.each_with_index do |item, index| %>
              <li class="ball item_<%= index %><%= index == 0 ? ' active' : nil %>"><a href="#"></a></li>
            <% end %>
          </ul>
        </div>
        <section class="slider">
          <% slider.each_with_index do |item, index| %>
            <img src="<%= image_path(item) %>" class="item_<%= index %>">
          <% end %>
        </section>
      </article>
      <div class="doted"></div>
      <article class="content">

        <%= yield %>

      </article>
      <footer class="main">
        <p>© 2011-2013 Pharmacies MetroOuchy & MetroFlon - création: <a href="http://www.liquid-concept.ch">Liquid Concept</a></p>
      </footer>

    </article>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2241355-25', 'metro-ouchy.ch');
      ga('send', 'pageview');

    </script>
  </body>
</html>
